/*--------------------*/
*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
body {
    background: #282d37;
}
.container {
    display: flex;
    min-height: 100vh;
    margin: 0 auto;
    max-width: 1000px;
    align-items: center;
    flex-direction: column;
}
.subtitle {
    margin-top: 20px;
    font-size: 32px;
    color: #fff;
    text-align: center;
    display: none;
}
.subtitle.active {
    display: block;
}
.container .input-group {
    width: 700px;
    padding: 20px;
}
.container .input-group input {
    height: 40px;
    padding: 0 8px;
    font-size: 16px;
}
.container .input-group button {
    padding: 8px;
    font-size: 16px;
}
.container .input-group input, button {
    width: 100%;
}
.LZ77, .LZ78 {
    display: none;
    width: 100%;
    margin-bottom: 20px;
    color: #fff;
    font-size: 18px;
}
.LZ77.active, .LZ78.active {
    display: block;
}
.LZ77-table, .LZ78-table {
    width: 100%;
}
.LZ77-table th, .LZ78-table th {
    padding: 10px 5px;
}
.LZ77-table tr td, .LZ78-table tr td {
    text-align: center;
}
.decode-title {
    font-weight: bold;
}
.decode-title, .decode-text {
    color: #fff;
    font-size: 18px;
}

